@page "{id}"
@model Tickets.Pages.Tiquetes.EditarModel
@{
    ViewData["Title"] = "Tickets";
}

@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor

@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}

@section styles{
    <link rel="stylesheet" href="~/lib/summernote/summernote-bs4.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap4.min.css" />
    <link href="~/lib/dropzone/basic.css" rel="stylesheet" />
    <link href="~/lib/dropzone/dropzone.css" rel="stylesheet" />
    <link href="~/lib/iCheck/skins/square/green.css" rel="stylesheet" />
    <link href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">
    <style type="text/css">
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .cronometro {
            width: 200px;
            height: 100px;
            top: 50%;
            left: 50%;
            position: absolute;
            margin-top: -50px;
            margin-left: -100px;
            text-align: center;
        }

        .boton {
            display: inline-block;
            width: 32px;
            height: 40px;
            position: relative;
            font-size: 27px;
        }

        #hms {
            height: 52px;
            padding: 0px 0;
            font-size: 45px;
            color: #000;
            font-family: alarm;
        }

        .start {
            cursor: pointer;
        }

        .stop {
            cursor: pointer;
        }

        .reiniciar {
            cursor: pointer;
        }
    </style>
}

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/dropzone/dropzone.js"></script>
    <script src="~/lib/iCheck/icheck.js"></script>
    <script type="text/javascript">
        window.onload = init;
        function init() {
            document.querySelector(".start").addEventListener("click", cronometrar);
            document.querySelector(".stop").addEventListener("click", parar);
            document.querySelector(".reiniciar").addEventListener("click", reiniciar);
            h = parseInt(document.getElementById("Duracion").value.substring(0, 2));
            m = parseInt(document.getElementById("Duracion").value.substring(3, 5));
            s = parseInt(document.getElementById("Duracion").value.substring(6, 8));
            document.getElementById("hms").innerHTML = document.getElementById("Duracion").value;
        }
        function cronometrar() {
            escribir();
            id = setInterval(escribir, 1000);
            document.querySelector(".start").removeEventListener("click", cronometrar);
        }
        function escribir() {
            var hAux, mAux, sAux;
            s++;
            if (s > 59) { m++; s = 0; }
            if (m > 59) { h++; m = 0; }
            if (h > 24) { h = 0; }

            if (s < 10) { sAux = "0" + s; } else { sAux = s; }
            if (m < 10) { mAux = "0" + m; } else { mAux = m; }
            if (h < 10) { hAux = "0" + h; } else { hAux = h; }

            document.getElementById("hms").innerHTML = hAux + ":" + mAux + ":" + sAux;

            document.getElementById("Duracion").value = hAux + ":" + mAux + ":" + sAux;
        }
        function parar() {
            clearInterval(id);
            document.querySelector(".start").addEventListener("click", cronometrar);
            document.getElementById("Duracion").value = document.getElementById("hms").innerHTML;
        }
        function reiniciar() {
            clearInterval(id);
            document.getElementById("hms").innerHTML = "00:00:00";
            h = 0; m = 0; s = 0;
            document.querySelector(".start").addEventListener("click", cronometrar);
            document.getElementById("Duracion").value = document.getElementById("hms").innerHTML;
        }
    </script>
    <script>



        var AdjuntosAnteriores = [];
        $(document).ready(function () {
            jQuery(document).ready(function ($) {
                $(document).ready(function () {
                    $('.mi-selector').select2();
                });
            });
            $(".js-example-responsive").select2({
                width: 'resolve',// need to override the changed default
                height: 'resolve'
            });


            var array = $("#Adjunto").val().split("¶");
            console.log(array);

            for (let i = 0; i < array.length; i++) {

                if (array[i] != "") {

                    AdjuntosAnteriores[i] = array[i];
                }
            }

            if (AdjuntosAnteriores[0] != "" && AdjuntosAnteriores[0] != undefined) {
                $("#src1").prop('src', AdjuntosAnteriores[0]);
            }
            if (AdjuntosAnteriores[1] != "" && AdjuntosAnteriores[1] != undefined) {
                $("#src2").prop('src', AdjuntosAnteriores[1]);
            }



        });
        var Image2Bae64 = "";
        var ImageBae64 = "";
        Dropzone.options.dropzoneForm = {
            paramName: "file", // The name that will be used to transfer the file
            maxfiles: 2,
            maxFilesize: 3, // MB
            thumbnailHeight: 1020,
            thumbnailWidth: 1020,
            filesizeBase: 1000,
            uploadMultiple: false,
            addRemoveLinks: true,
            acceptedFiles: ".png, .jpg, .jpeg",
            dictDefaultMessage: "<strong>Arrastra los archivos. </strong></br> (Da clic para seleccionar el archivo a cargar; máximo 2)",
            init: function () {




                this.on('addedfile', function (file) {


                    if (this.files.length > 2) {
                        this.removeFile(this.files[0]);
                    }
                    ImageBae64 = $(".dz-image").children()[0].src;
                    if ($(".dz-image").children().length == 2) {
                        Image2Bae64 = $(".dz-image").children()[1].src;
                        console.log(Image2Bae64);

                    }





                });
                this.on("complete", function (file) {

                    if ((AdjuntosAnteriores.length + $(".dz-image").children().length) <= 2) {
                        $(".dz-remove").html("<div><span class='fa fa-trash text-danger' style='font-size: 1.5em'></span></div>");
                        // ImageBae64 = $(".dz-image").children()[0].src;

                        //if ($(".dz-image").children().length == 2) {
                        //    Image2Bae64 = $(".dz-image").children()[1].src;


                        //}

                        //$("#Adjunto").val(ImageBae64 + "¶" + Image2Bae64);
                        //var ImagenJunta = ImageBae64 + "¶" + Image2Bae64;

                        //console.log(ImagenJunta);
                    } else {
                        if (AdjuntosAnteriores.length == 1) {
                            this.removeFile(this.files[0]);

                        } else {
                            this.removeFile(this.files[0]);
                            this.removeFile(this.files[1]);
                        }
                    }
                    ImageBae64 = $(".dz-image").children()[0].src;
                    if ($(".dz-image").children().length == 2) {
                        Image2Bae64 = $(".dz-image").children()[1].src;


                    }

                    if (AdjuntosAnteriores[0] != undefined) {
                        Image2Bae64 = ImageBae64;
                        ImageBae64 = AdjuntosAnteriores[0];
                    } else if (AdjuntosAnteriores[0] != undefined && AdjuntosAnteriores[1] != undefined) {
                        ImageBae64 = AdjuntosAnteriores[0];
                        Image2Bae64 = AdjuntosAnteriores[1];
                    }

                    $("#Adjunto").val(ImageBae64 + "¶" + Image2Bae64);
                });
            }
        };

        function abrirModal() {
            $("#modalAdjuntos").modal("show");
        }
        function Cerrar() {
            $("#modalAdjuntos").modal("hide");
        }

    </script>
  
}

<form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
    <div class="row justify-content-center">
        <div class="col-lg-11">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h4 class="text-center font-weight-light my-4">Detalle Ticket</h4></div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input hidden asp-for="Tiquete.id" />
                    <input hidden asp-for="Tiquete.Duracion" id="Duracion" />
                    <input asp-for="Tiquete.Adjunto" id="Adjunto" hidden />
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputFecha" asp-for="Tiquete.FechaTicket" type="date" readonly />
                                <label for="inputFecha">Fecha de Creación</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputFecha" asp-for="Tiquete.PersonaTicket" type="text" readonly />
                                <label for="inputFecha">Envio el ticket</label>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="cronometro">
                                <div id="hms"></div>
                                <div class="boton fa fa-play start"></div>
                                <div class="boton fa fa-stop stop"></div>
                                @if (!string.IsNullOrEmpty(Roles.Where(a => a == "5").FirstOrDefault()))
                                {


                                    <div class="boton fa fa-redo reiniciar"></div>
                                }
                                else
                                {
                                    <div class="boton fa fa-redo reiniciar" hidden></div>
                                }
                            </div>
                        </div>



                    </div>
                    <div class="row mb-3">


                        <div class="col-md-12">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="Asunto" asp-for="Tiquete.Asunto" type="text" readonly />
                                <label for="Asunto">Asunto</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">


                        <div class="col-md-4">
                            <div class="form-floating mb-3 mb-md-0">
                                @if (!string.IsNullOrEmpty(Roles.Where(a => a == "3").FirstOrDefault()))
                                {


                                    <select asp-for="Tiquete.idLoginAsignado" id="idUsuario" class="form-control  ">
                                        <option value="0" selected>-Seleccione usuario-</option>
                                        @foreach (var item in Model.Usuarios)
                                        {
                                            <option value="@item.id">@item.id - @item.Nombre</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <input class="form-control" id="Asunto" asp-for="Tiquete.idLoginAsignado" hidden type="text" readonly />
                                    <input class="form-control" id="Asunto" value="@(Model.Usuarios.Where(a => a.id == Model.Tiquete.idLoginAsignado).FirstOrDefault() == null ? "" : Model.Usuarios.Where(a => a.id == Model.Tiquete.idLoginAsignado).FirstOrDefault().Nombre)" type="text" readonly />
                                }
                                <label for="Asunto">Persona a Asignar</label>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-floating mb-3 mb-md-0">
                                @if (!string.IsNullOrEmpty(Roles.Where(a => a == "14").FirstOrDefault()))
                                {


                                    <select asp-for="Tiquete.idEmpresa" id="idUsuario" class="form-control  ">
                                        <option value="0" selected>-Seleccione empresa-</option>
                                        @foreach (var item in Model.Empresas)
                                        {
                                            <option value="@item.id">@item.id - @item.Nombre</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <input class="form-control" id="Asunto" asp-for="Tiquete.idEmpresa" hidden type="text" readonly />
                                    <input class="form-control" id="Asunto" value="@(Model.Empresas.Where(a => a.id == Model.Tiquete.idEmpresa).FirstOrDefault() == null ? "" : Model.Empresas.Where(a => a.id == Model.Tiquete.idEmpresa).FirstOrDefault().Nombre)" type="text" readonly />
                                }
                                <label for="Asunto">Empresa</label>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="DuracionEstimada" asp-for="Tiquete.DuracionEstimada" type="time" />
                                <label for="DuracionEstimada">Duración Estimada</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-5">

                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-floating mb-3 mb-md-0">
                                <textarea class="form-control" id="inputMensaje" style="height: 400px !important;" rows="8" asp-for="Tiquete.Mensaje" readonly></textarea>

                                <label for="inputMensaje">Mensaje</label>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">

                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-floating mb-3 mb-md-0">
                                <textarea class="form-control" id="inputComentarios" cols="8" style="height: 300px !important;" asp-for="Tiquete.Comentarios"></textarea>

                                <label for="inputComentarios">Comentarios</label>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="margin-block-end: 18px;">
                <div class="d-flex justify-content-end">
                    <button type="submit" id="Guardar" class="btn btn-w-m btn-primary">Guardar Cambios</button>
                </div>
            </div>
        </div>

    </div>
    <DIV id="dropzone">
        <h4 class="text-center font-weight-light my-4">Agregar Adjuntos</h4>
        <h5 class="text-center font-weight-light my-4" onclick="javascript: abrirModal();" style="color: #0d6efd; text-decoration: underline; cursor:pointer;">Ver Adjuntos</h5>
        <div class="dropzone" id="dropzoneForm">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </div>
    </DIV>


</form>


<!--Modal de adjuntos-->
<!-- Modal -->
<div class="modal fade" id="modalAdjuntos" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="  text-center font-weight-light my-4">Adjuntos</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-sm-6" style="text-align: center;">


                        <img src="" style="width: 100%; height: 100%; border: 1px solid #ccc; padding: 3px; " id="src1" width="100" height='50' />



                    </div>
                    <div class="col-sm-6" style="text-align: center;">


                        <img src="" style="width: 100%; height: 100%; border: 1px solid #ccc; padding: 3px;" id="src2" width="100" height='50' />



                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="javascript: Cerrar();">Close</button>
            </div>
        </div>
    </div>
</div>
