@page
@model InversionGloblalWeb.Pages.Usuarios.IndexModel
@{
    ViewData["Title"] = "Usuarios";
}


@using System.Globalization;
@{
    NumberFormatInfo formato = new CultureInfo("en-US").NumberFormat;
    formato.CurrencyGroupSeparator = ",";
    formato.NumberDecimalSeparator = ".";


}
 
    
       
 
@section styles{

    <style>
        .tableFixHead th {
            position: sticky;
            top: 0;
            background: white;
        }
    </style>

}
@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $(document).ready(function () {
        jQuery(document).ready(function ($) {

        });






    });

        var ids = 0;
        var ids2 = 0;
        function onClickModal(id) {

        ids = id;


            Swal.fire({
                title: '¿Desea activar/inactivar ese usuario?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: `Aceptar`,
                denyButtonText: `Cancelar`,
                customClass: {
                    confirmButton: 'swalBtnColor',
                    denyButton: 'swalDeny'
                },
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {

                    Eliminar();

                }
            })


    }
        function  Eliminar() {


         $.ajax({
                        type: 'GET',
                        dataType: 'json',
                        url: '@Url.Page("Index", "Eliminar")',
                        data: { id: ids },
             success: function (result) {

                             if (result == false) {
                                 ids = 0;
                                // $("#Eliminar").hide();
                                // $("#Error").show();
                                 Swal.fire({
                                     icon: 'error',
                                     title: 'Oops...',
                                     text: 'Ha ocurrido un error al intentar desactivar'

                                 })
                             } else {
                                 Swal.fire({
                                     title: "Ha sido desactivado con éxito",

                                     icon: 'success',
                                     showCancelButton: false,
                                     customClass: {
                                         confirmButton: 'swalBtnColor',

                                     },
                                     confirmButtonText: 'OK'
                                 }).then((result) => {
                                     if (result.isConfirmed) {
                                         location.reload();
                                     }
                                 })
                             }
             },
             beforeSend: function () {

             },
             complete: function () {

             }
                     })
        }


    </script>

}
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor

<div class="container-fluid px-4">
    <h1 class="mt-4">Usuarios</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">Usuarios</li>
        <li class="breadcrumb-item active">Listado</li>
    </ol>
    <div class="row" style="margin-block-end: 3%;">
        <div class="col-sm-6"></div>
        <div class="col-sm-6" style="text-align: right;">
            <a asp-page="/Account/RegistroUsuario" class="btn btn-primary" title="Agregar"><i class="fa fa-plus"></i> Agregar</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Usuarios
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Acción</th>

                    </tr>

                </thead>
                <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Objeto)
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.Email</td>
                            <td>@((Model.Roles.Where(a => a.idRol == item.idRol).FirstOrDefault() == null ? "" : Model.Roles.Where(a => a.idRol == item.idRol).FirstOrDefault().NombreRol))</td>
                            @if (item.Activo.Value)
                            {


                                <td>Activo</td>
                            }
                            else
                            {
                                <td>Inactivo</td>
                            }

                            <td>

                                <a asp-page="./Editar" asp-route-id="@item.id" title="Editar" class="btn btn-warning"> Editar</a> &nbsp;
                                <a onclick="javascript: onClickModal('@item.id')" title="Activar/Desactivar" class="btn btn-danger">Cambiar Estado</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>







